
<h1>My tasks</h1>
<div class="container">
<ul>
<div class="list">
<% @tasks.each do |task| %>
  <li><%= link_to task.title.upcase, task_path(task), class:"linkto"%></li>
<% end %>
</div>
</ul>
<br>
<div class="addnew">
<%= link_to tasks_new_path do %>
<%= "Add a new task" %>
<br>
 <i class="fa-solid fa-circle-plus"></i>
<% end %>
</div>
</div>
