/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background-color: rgb(247, 207, 207);
  font-family: 'Roboto', sans-serif;
 }

 h1 {
  text-align: center;
  margin-bottom: 28px;
}
li {
  text-align: center;
  background-color: #f3b007;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 12px;
}
a {
  text-decoration: none;
}

li a {
color: white;
font-size: 18px;
}

 li:hover {
  background-color: #be9c00;
  transition: 0.3s;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 700px;
  margin : 0 auto;

}

.addnew {
  text-align: center;
  background-color: black;
  padding: 12px;
  border-radius: 50px;
}

.addnew a {
  color: white;
}

.fa-solid {
  font-size: 30px;
  margin-top: 8px;
}

.details {
  background-color: white;
  text-align: center;
  padding: 40px;
  border-radius: 4px;
  border: 1px solid rgb(255, 149, 174);
  font-size: 24px;
}

.buttons {
  text-align: center;
}

.buttons .fa-solid {
  margin: 8px;
  color: #f3b007;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgb(255, 149, 174);
  margin-bottom: 20px;
}
